.dash{
    display: flex;
    gap:"20px";
    color: black;
}

.user-greet{
     width: 95%;
     /* height:30vh; */
     /* border: 1px solid red; */
     margin: auto;
}
.task{
    display: flex;
    height: 60vh;
    justify-content:space-around;
    margin-top: 15px;
}
.task-box{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    width: 45%;
}
.task-box:hover{
   border:1px solid grey  
}

@media screen and (max-width:950px)  and (min-width:300px) {
    .task{
        flex-direction: column;
    }
}